@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
   --main-color: #ff0;
   --light-white: rgba(255, 255, 255, .5);
   --light-black: rgba(0, 0, 0, .3);
   --light-bg: rgba(255, 255, 255, .1);
   --white: #fff;
   --black: #000;
}

* {
   font-family: 'Comfortaa', cursive;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: inherit;
   scrollbar-color: var(--main-color) var(--black);
   scrollbar-width: thin;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 5rem;
}

*::selection {
   background-color: var(--main-color);
   color: var(--black);
}

*::-webkit-scrollbar {
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
}

body {
   background-color: var(--black);
   overflow-x: hidden;
   /* padding-bottom: 7rem; */
}

.container {
   padding-top: 10rem;
}

section {
   margin: 0 auto;
   max-width: 1200px;
   padding: 2rem;
}

.heading {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 7rem;
   color: var(--white);
   text-align: center;
   margin-bottom: 4rem;
}

.btn {
   display: block;
   border-radius: .5rem;
   padding: 1.2rem 3rem;
   background: var(--main-color);
   color: var(--black);
   cursor: pointer;
   text-align: center;
   width: 100%;
   font-size: 1.8rem;
   margin-top: 1rem;
   transition: .2s linear;
}

.btn:hover {
   background: var(--black);
   color: var(--white);
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: linear-gradient(0deg, transparent, var(--black));
   z-index: 1000;
}

.header .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.header .flex .logo {
   font-size: 2.5rem;
   color: var(--main-color);
}

.header .flex .navbar a {
   margin-left: 2rem;
   font-size: 1.8rem;
   text-transform: capitalize;
   color: var(--light-white);
   transition: .2s linear;
}

.header .flex .navbar a:hover {
   color: var(--white);
}

#menu-btn {
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--white);
   display: none;
}

.nav-container__logo {
   position: relative;
   bottom: 3px;
   right: 25px;

}

.nav-container__logo img {
   width: 400px;
   height: 103px;
}

.home {
   background: url('../images/bakhome.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.home .flex {
   min-height: calc(76vh - 10rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .details1 .box {
   width: 95rem;
   background-color: var(--light-bg);
   padding: 3rem 2rem;
   text-align: center;
   backdrop-filter: blur(.4rem);
   border-radius: .5rem;
}

.home .details1 .box h3 {
   padding-bottom: 1rem;
   font-size: 2.5rem;
   color: var(--white);
}

.home .details1 .box p {
   padding: 1rem 0;
   font-size: 2rem;
   color: var(--white);
   line-height: 2;
}

.home .details1 .box .btn {
   display: inline-block;
   width: auto;
}

.details1 {
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 2rem; */
   /* min-height: 77vh;
   border-radius: .5rem; */
}

.details1:hover {
   background-color: var(--light-white);
}




.heading1 {
   font-family: revert;
   font-size: 4rem;
   color: var(--white);
   text-align: center;
   padding-top: 50px;
   -webkit-animation: scale-up-center 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: scale-up-center 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
   0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@keyframes scale-up-center {
   0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}



/* .heading2 {
   font-family: sans-serif;
   font-size: 3rem;
   color: var(--white);
   text-align: center;
   position: relative;
   top: 40px;

} */




.head {
   display: flex;
   align-items: center;
   min-height: 100vh;
   height: 100%;
   width: 100%;
   padding: 0 60px;
   gap: 30px;
   justify-content: space-between;
   position: relative;
   min-height: 100vh;
   width: 100%;


}

.row h2,
.row p {
   color: var(--white);

}

.column {
   width: 50%;

   color: var(--white);
}

.buttons {
   display: flex;
   margin-top: 25px;
   gap: 10px;
}

.btn3 {
   padding: 14px 26px;
   background: var(--white);
   border-radius: 50px;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;

}

.btn3:last-child {
   border: 2px solid var(--white);
   background: transparent;
   color: var(--min-color);

}

.btn3:last-child:hover {
   background-color: var(--main-color);
   color: var(--min-color);
}



.btn2 {
   display: block;
   position: relative;
   left: 34%;
   bottom: 4px;
   border-radius: 0.5rem;
   padding: 1.2rem 3rem;
   background: var(--main-color);
   color: var(--black);
   cursor: pointer;
   text-align: center;
   width: 156px;
   font-size: 1rem;
   margin-top: 5rem;
   transition: .2s linear;
}

.btn7 {
   display: block;
   position: relative;
   left: 40%;
   bottom: 37px;
   border-radius: 0.5rem;
   padding: 1.2rem 3rem;
   background: var(--main-color);
   color: var(--black);
   cursor: pointer;
   text-align: center;
   width: 161px;
   font-size: 1rem;
   margin-top: 3rem;
   transition: .2s linear;
}

/* Tu CSS existente */

.tour-info {
   text-align: center;
   color: #fff;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
}


.tour-option {
   margin: 2rem 0;
   background-color: var(--light-bg);
   border-radius: 10px;
   padding: 1.5rem;
   transition: background-color 0.3s ease;
}

.tour-option:hover {
   background-color: var(--light-white);
}

.tour-option h3 {
   font-size: 2rem;
   margin-bottom: 1.5rem;
}

.tour-option p {
   font-size: 2rem;
   margin-bottom: 1.5rem;
}

.heading3 {
   font-family: revert;
   font-size: 3rem;
   color: var(--white);
   text-align: center;
   padding-top: 50px;

}



/* Estilos generales para los pop-ups */
.popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--light-black);
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.popup-content {
   background-color: var(--white);
   padding: 2rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(189, 5, 5, 0.2);
   max-width: 80%;
   text-align: center;
   position: relative;

}

.popup-title {
   font-size: 5.5rem;
   margin-bottom: 2rem;
}


.popup-text {
   font-size: 2rem;
   margin-bottom: 1rem;
   text-align: justify;


}

.popup-close-button {
   position: absolute;
   background-color: var(--main-color);
   bottom: 339px;
   right: 45px;
   width: 10rem;
   height: 5rem;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 2.5rem;
   cursor: pointer;
   color: var(--black);

}

.popup-close-button1 {
   position: absolute;
   background-color: var(--main-color);
   bottom: 3px;
   right: 0;
   width: 10rem;
   height: 5rem;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 9rem;
   cursor: pointer;
   color: var(--black);
}

.popup-text1 {
   font-size: 2rem;
   margin-bottom: 1rem;
   text-align: justify;


}

.popup-image {
   width: 404px;
   height: 301px;
}

.home2-social {
   position: relative;
   bottom: 40px;
   width: 170px;
   display: flex;
   left: 45%;
   justify-content: space-between;
}

.home2-social a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 20px;
   color: var(--main-color);
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}

.home2-social a:hover {
   color: var(--light-white);
}

.home2-social a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: var(--light-bg);
   z-index: -1;
   transition: .5s;
}

.home2-social a:hover::before {
   width: 100%;
}






/* Agrega más estilos según tus necesidades */



/* style ----------------------------------------------------------------about */
.about {
   /* background: url('../images/hydro\ \(4\).jpg') no-repeat rgba(0, 0, 0, .5); */
   background: url('../images/alexAbout.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.about .details {
   border-radius: .5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   /* padding: 2rem;
   min-height: 77vh; */
   border-radius: .5rem;
}

.details:hover {
   background-color: var(--light-white);
}




#carousel {
   perspective: 1200px;
   background: var(--light-black);
   padding-top: 10%;
   font-size: 0;
   margin-bottom: 3rem;
   overflow: hidden;
}




div#carousel~span {
   color: #fff;
   margin: 5%;
   display: inline-block;
   text-decoration: none;
   font-size: 2rem;
   transition: 0.6s color;
   position: relative;
   margin-top: -6rem;
   border-bottom: none;
   line-height: 0;
}

div#carousel~span:hover {
   color: #888;
   cursor: pointer;
}

.about .details .box {
   /* width: 95rem; */
   background-color: var(--light-bg);
   padding: 3rem 2rem;
   text-align: center;
   backdrop-filter: blur(.4rem);
   border-radius: .5rem;
}

.about .details .box h3 {
   padding-bottom: 1rem;
   font-size: 2.5rem;
   color: var(--white);
}

.about .details .box p {
   padding: 1rem 0;
   font-size: 2rem;
   color: var(--white);
   line-height: 2;
}

.about .details .box .btn {
   display: inline-block;
   width: auto;
}

.about .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
   margin-top: 3rem;
}

.about .grid .box {
   background-color: var(--light-bg);
   padding: 2rem;
   text-align: center;
   backdrop-filter: blur(.4rem);
   border-radius: .5rem;
}

.about .grid .box img {
   height: 20rem;
   transition: .2s linear;
}

.about .grid .box h3 {
   padding: 2rem 0;
   font-size: 2rem;
   color: var(--white);
}

.about .grid .box p {
   line-height: 2;
   font-size: 1.5rem;
   color: var(--light-white);
}

.about .grid .box:hover {
   background-color: var(--light-black);
}

.about .grid .box:hover img {
   transform: scale(1.1);
}


.reviews {
   background: url('../images/aboutnew.png') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.reviews .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
}

.reviews .grid .box {
   background-color: var(--light-bg);
   padding: 2rem;
   text-align: center;
   backdrop-filter: blur(.4rem);
   border-radius: .5rem;
}

.reviews .grid .box img {
   height: 8rem;
   width: 8rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.reviews .grid .box h3 {
   font-size: 2rem;
   color: var(--white);
}

.reviews .grid .box p {
   padding: 1rem 0;
   line-height: 2;
   color: var(--light-white);
   font-size: 1.5rem;
}

.reviews .grid .box .stars {
   margin-top: 1rem;
}

.reviews .grid .box .stars i {
   font-size: 1.8rem;
   color: var(--main-color);
}

.reviews .grid .box:hover {
   background-color: var(--light-black);
}




/* style ------------------------------------------------------------------------- expedition */
.tours {
   background: url('../images/expedition.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.tours .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 38rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
}

.tours .grid .box {
   background-color: var(--light-bg);
   padding: 2rem;
   backdrop-filter: blur(.4rem);
   border-radius: .5rem;
   position: relative;
}

.tours .grid .box .map {
   width: 33.875rem;
   height: 26.75rem;
   padding: 2rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   backdrop-filter: blur(.4rem);
}


.tours .grid .box .price {
   position: absolute;
   top: 2.9rem;
   left: 3rem;
   border-radius: .5rem;
   background: var(--light-black);
   font-size: 1.8rem;
   padding: .8rem 1rem;
}

.tours .grid .box .price i {
   color: var(--main-color);
   margin-right: .5rem;
}

.tours .grid .box .price span {
   color: var(--white);
}

.tours .grid .box .image {
   height: 20rem;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
   margin-bottom: 2rem;
}

.tours .grid .box .name {
   font-size: 2rem;
   color: var(--white);
}

.tours .grid .box .address {
   font-size: 1.7rem;
   color: var(--light-white);
   line-height: 1.5;
   padding: .5rem 0;
}

.tours .grid .box:hover {
   background-color: var(--light-black);
}

.tours .grid .box:hover .price {
   background-color: var(--black);
}




/* style----------------------------------------------------------------------gallery */

.destinations {
   background: url('../images/gallery.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.destinations .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
}

.destinations .grid .box {
   position: relative;
   height: 40rem;
   overflow: hidden;
   border-radius: .5rem;
}

.destinations .grid .box img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.destinations .grid .box h3 {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--light-black);
   backdrop-filter: blur(.4rem);
   transition: .2s linear;
   opacity: 0;
}

.destinations .grid .box h3 span {
   font-size: 2.5rem;
   color: var(--white);
}

.destinations .grid .box:hover h3 {
   opacity: 1;
}



/* accommodation------------------------------------------------------------ */

.accommodation {
   background: url('../images/car-new.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.accommodation .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   justify-content: center;
   gap: 1.5rem;
}

.accommodation .grid .box {
   position: relative;
   height: 40rem;
   overflow: hidden;
   border-radius: .5rem;
}

.accommodation .grid .box img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.accommodation .grid .box h3 {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--light-black);
   backdrop-filter: blur(.4rem);
   transition: .2s linear;
   opacity: 0;
}

.accommodation .grid .box h3 span {
   font-size: 2.5rem;
   color: var(--white);
}

.accommodation .grid .box:hover h3 {
   opacity: 1;
}

/* style-------------------------------------------------------- contact */

.contact {
   background: url('../images/contac.jpg') no-repeat rgba(0, 0, 0, .5);
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-blend-mode: multiply;
}

.contact .row {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}


.contact .row form {
   flex: 1 1 40rem;
   padding: 2rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   backdrop-filter: blur(.4rem);
}

.contact .row form h3 {
   text-align: center;
   font-size: 2.5rem;
   color: var(--white);
   padding-bottom: 1rem;
}

.contact .row form .box {
   width: 100%;
   margin: 1rem 0;
   border-radius: .5rem;
   background-color: var(--light-black);
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--white);
   text-transform: none;
}

.contact .row form .box::placeholder {
   color: var(--light-white);
}

.contact .row form textarea {
   height: 15rem;
   resize: none;
}

.contact .grid {
   margin: 3rem 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   justify-content: center;
   gap: 1.5rem;
}

.contact .grid .box {
   padding: 3rem 2rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   backdrop-filter: blur(.4rem);
   text-align: center;
}

.contact .grid .box i {
   height: 5rem;
   width: 6rem;
   line-height: 5rem;
   font-size: 2.5rem;
   background-color: var(--light-black);
   border-radius: .5rem;
   color: var(--white);
   margin-bottom: 1.5rem;
}

.contact .grid .box h3 {
   padding: .5rem 0;
   font-size: 2rem;
   color: var(--main-color);
}

.contact .grid .box a {
   display: block;
   padding-top: 1rem;
   font-size: 1.6rem;
   color: var(--light-white);
   line-height: 1.5;
   text-transform: none;
}

.contact .grid .box a:hover {
   color: var(--white);
   text-decoration: underline;
}


.contact .credit {
   text-align: center;
   font-size: 2rem;
   padding-top: 1.5rem;
   padding-bottom: 2rem;
   color: var(--light-white);
}

.contact .credit span {
   color: var(--main-color);
}

.contact .credit span {
   color: var(--min-color);
}

.alert {
   width: 100%;
   background: rgb(0, 255, 106);
   padding: 10px 20px;
   border-radius: 5px;
   text-align: center;
   font-size: 18px;
   font-weight: 900;
   display: none;
}


.home1-social {
   position: relative;
   bottom: 0;
   width: 170px;
   display: flex;
   left: 16%;
   justify-content: space-between;
}

.home1-social a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background: transparent;
   border: .2rem solid var(--main-color);
   border-radius: 50%;
   font-size: 20px;
   color: var(--main-color);
   z-index: 1;
   overflow: hidden;
   transition: .5s;
}

.home1-social a:hover {
   color: var(--light-white);
}

.home1-social a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: var(--light-bg);
   z-index: -1;
   transition: .5s;
}

.home1-social a:hover::before {
   width: 100%;
}




/*Responsive Web Design ------------------------------------------------------------------------- Media Queries*/



@media (max-width:1200px) {

   html {
      font-size: 55%;
   }

   .heading {
      font-size: 5rem;
      margin-bottom: 3rem;
   }

}

@media (max-width:768px) {

   #menu-btn {
      display: inline-block;
   }

   .header .flex {
      position: relative;
   }

   .header .flex .navbar {
      position: absolute;
      top: 100%;
      left: 2rem;
      right: 2rem;
      background-color: var(--light-black);
      backdrop-filter: blur(.4rem);
      border-radius: .5rem;
      transform: scale(0);
      transform-origin: top right;
      padding: 1.5rem .5rem;
   }

   .header .flex .navbar.active {
      transform: scale(1);
      transition: .2s linear;
   }

   .header .flex .navbar a {
      display: block;
      padding: 1rem;
      margin: .5rem 1rem;
      color: var(--white);
      border-radius: .5rem;
   }

   .header .flex .navbar a:hover {
      background-color: var(--light-bg);
   }

   .heading {
      font-size: 3rem;
   }



   .tour-info {
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 0;
   }


   /* .btn2 {
      display: block;
      margin-top: 1rem;
   } */

   .nav-container__logo img {
      width: 200px;
      height: 88px;
   }

   .nav-container__logo {
      right: -76px;
      top: -21px;
   }



   .popup-close-button1 {
      right: 5px;
      width: 60px;
      height: 32px;
      top: 8px;
   }

   .popup-content {
      max-width: 90%;
   }

   .popup-title {
      font-size: 2.5rem;
      margin-bottom: 1rem;
   }

   .popup-text,
   .popup-text1 {
      font-size: 1.3rem;
   }

   .popup-close-button {
      width: 6rem;
      height: 3rem;
      font-size: 1.2rem;
      bottom: 334px;
      right: 10px;
   }

   .heading2 {
      font-size: 3rem;
      position: static;
      top: auto;
   }

   .home .details1 {
      max-width: 100%;
   }


}







@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .heading {
      font-size: 2.5rem;
   }

   .home2-social {
      left: 105px;
      bottom: 24px;
   }

   /* .home1-social {
      width: auto;
      left: 10%;
   } */

   .btn2 {
      left: 26%;
      bottom: 0;
      font-size: 15px;
   }

   .btn7 {
      left: 26%;
      bottom: 0;
      font-size: 15px;
   }

   .popup-image {
      width: 250px;
      height: 200px;
   }


}